<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Corder's Corner Activation Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css"></style>
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #f4f7ff;
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      "
    >
      <header>
        <table style="width: 100%">
          <tbody>
            <tr style="height: 0">
              <td>
                <img
                  alt=""
                  src="https://i.ibb.co/6YFrtNG/Corder-s-corner.png"
                  height="30px"
                />
              </td>
              <td style="text-align: right">
                <span
                  style="font-size: 16px; line-height: 30px; color: #ffffff"
                >
                  <%= order.date %>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </header>
      <main>
        <div
          style="
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          "
        >
          <div style="width: 100%; max-width: 489px; margin: 0 auto">
            <h1
              style="
                margin: 0;
                font-size: 24px;
                font-weight: 800;
                color: #1f1f1f;
              "
            >
              Order Confirmation
            </h1>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Hey Coder,
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
              We are delighted to inform you that your recent order with
              Cordere's Corner has been successfully processed and confirmed.
              Thank you for choosing us.
            </p>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Here are the details of your order:
            </p>

            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.56px;
                color: #000000;
                background-color: #f0f0f0;
                padding: 5px;
                border-radius: 10px;
              "
            >
              Order ID: <%= order.id %> <br />
              Course Ordered:<%= order.name %> <br />
              Price: <%= order.price %>
            </p>
          </div>
        </div>
        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Need help? Ask at
          <a
            href="mailto:workforzoher@gmail.com"
            style="color: #499fb6; text-decoration: none"
            >corderscorner@gmail.com</a
          >
          or visit our
          <a
            href=""
            target="_blank"
            style="color: #499fb6; text-decoration: none"
            >Help Center</a
          >
        </p>
      </main>
      <footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
          Corder's Corner
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343">Vadodara</p>
 
        <p style="margin: 0; margin-top: 16px; color: #434343">
          Copyright © 2024. Corder's corner All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
